#first{
    position: relative;
    background-color: rgb(111, 9, 9);
    height: 400px;
    width: 600px;
}
#second{
    background-color: rgb(5, 5, 59);
    position: absolute;
    height: 200px;
    width: 600px;
    top: 100px;
}
#third{
    background-color: white;
    height: 180px;
    width: 180px;
    position: absolute;
    z-index: 10;
    top: 110px;
    left: 210px;
    border-radius: 50%;
}