*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 200px;
    width: 800px;
    background-color: pink;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
}
img{
    height: 100px;
    width: 100px;
}
